* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

img.logo {
  height: 150px;
  width: auto;
  border: 1px solid #666;
  border-radius: 0px 0px 10px 10px;
  transform: translateY(35px); }

img.feature {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border: 1px solid #666;
  border-radius: 3px; }

.caption {
  font-style: italic;
  transform: translateY(-25px); }

button {
  background-color: cornflowerblue;
  color: white;
  font-size: 24px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #666;
  border: 1px #EEE;
  margin-bottom: 10px; }
  button:hover {
    background-image: none;
    background-color: #666; }
  button:active {
    transform: translate(1px, 1px);
    box-shadow: 0px 0px 5px #666;
    border: none; }
  button:focus {
    outline: 0; }

.container {
  display: flex;
  justify-content: center; }

a {
  color: cornflowerblue;
  text-decoration: none; }
  a:hover {
    color: #666;
    text-decoration: underline; }

.title-bar {
  margin-top: 100px;
  width: 1000px;
  height: 50px;
  border: 2px solid #666;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
  display: flex;
  justify-content: center; }

.title-bar-bottom {
  margin-top: -40px;
  width: 1000px;
  height: 50px;
  border: 2px solid #666;
  background: transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none; }

.title-bar-title {
  color: #666;
  font-style: italic;
  font-size: 30px;
  font-weight: bolder;
  background-color: white;
  padding: 0px 15px 0px 15px;
  text-align: center;
  transform: translateY(-22px); }

.welcome-grid {
  display: flex;
  justify-content: center;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-20px); }
  .welcome-grid::after {
    clear: both;
    content: "";
    display: block; }

.feature-item {
  width: calc(25% - 25px);
  float: left;
  margin-left: 20px; }

.left-item {
  margin-left: 0; }

.feature-item-center {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px; }

.nav-bar-contents {
  display: flex;
  justify-content: center;
  width: 1000px;
  justify-content: space-between;
  align-items: center; }

.nav-bar {
  font-weight: bold;
  display: flex; }

.nav-bar ul {
  width: 800px;
  justify-content: space-between; }

.nav-bar li {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 800;
  color: cornflowerblue;
  display: inline-block;
  margin: 0px 0px 0px 50px; }
  .nav-bar li:hover {
    color: #666;
    text-decoration: underline;
    cursor: pointer; }

header {
  width: 100%;
  height: 80px;
  background-color: #EEE;
  top: 0px;
  left: 0px;
  margin: 0px;
  display: flex;
  justify-content: center; }

footer {
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: #EEE;
  bottom: 0px;
  left: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center; }

.box {
  width: 100%;
  overflow: hidden; }

.centered {
  text-align: center; }

.box:not(:first-of-type) {
  padding-top: 10px;
  border-top: 1px solid #EEE;
  margin-top: 10px; }

.box p.title, .box .title.caption, p.title, .title.caption {
  font-weight: bolder;
  color: #666;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 16px;
  margin-top: 0px; }

.fake-link:hover {
  color: cornflowerblue;
  text-decoration: underline;
  cursor: pointer; }

.box p, .box .caption {
  margin-top: 10px;
  color: #666;
  font-size: 12px;
  font-weight: light;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }

.lawsuits {
  background-color: cornflowerblue;
  color: white;
  padding: 0px 5px 0px 5px; }

/*# sourceMappingURL=styles.css.map */
