* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

img.logo {
  height: 110px;
  width: auto;
  border: 2px solid #666;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  transform: translateY(15px); }
  @media only screen and (max-width: 999px) {
    img.logo {
      border-bottom-left-radius: 0px;
      border-left: 0px; } }
  @media only screen and (max-width: 480px) {
    img.logo {
      display: none; } }

img.feature {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border: 1px solid #666;
  border-radius: 3px; }

img.feature-hidden {
  display: none; }
  @media only screen and (max-width: 999px) {
    img.feature-hidden {
      width: 100%;
      margin-bottom: -30px;
      display: flex; } }

.caption, .caption-hidden, .caption-feature {
  font-style: italic;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: #666; }
  @media only screen and (max-width: 999px) {
    .caption, .caption-hidden, .caption-feature {
      margin-left: 10px; } }
  @media only screen and (max-width: 600px) {
    .caption, .caption-hidden, .caption-feature {
      display: none; } }

.caption-hidden {
  display: none; }
  @media only screen and (max-width: 599px) {
    .caption-hidden {
      display: block;
      text-align: center;
      font-size: 12px;
      transform: translateY(40px); } }

.caption-feature {
  transform: translateY(-25px); }

button {
  background-color: cornflowerblue;
  color: white;
  font-size: 24px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px gray;
  border: 1px #EEE;
  margin-bottom: 10px;
  transition: ease-in 200ms; }
  button:hover {
    background-image: none;
    background-color: #666;
    box-shadow: 2px 2px 5px gray; }
  button:active {
    background-color: gray;
    transform: translate(1px, 1px);
    box-shadow: 0px 0px 5px #666;
    border: none;
    transition: ease-in 100ms; }
  button:focus {
    outline: 0; }

.container {
  display: flex;
  justify-content: center; }

a {
  color: cornflowerblue;
  text-decoration: none; }
  a:hover {
    color: #666;
    text-decoration: underline;
    transition: ease-in; }

.welcome-grid {
  display: flex;
  justify-content: center;
  width: 980px;
  height: auto !important;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  transform: translateY(-20px); }
  .welcome-grid::after {
    clear: both;
    content: "";
    display: block; }

.feature-item {
  width: calc(25% - 25px);
  float: left;
  margin-left: 20px; }
  @media only screen and (max-width: 999px) {
    .feature-item {
      width: 100%; } }

@media only screen and (max-width: 999px) {
  .feature-item:not(:first-of-type) {
    margin-top: 40px; } }

.feature-item-center {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px; }
  @media only screen and (max-width: 999px) {
    .feature-item-center {
      display: none; } }

.nav-bar-contents {
  display: flex;
  justify-content: center;
  width: 1000px;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 600px) {
    .nav-bar-contents {
      margin: 0px; } }

.nav-bar {
  font-weight: bold;
  display: flex; }

.nav-bar ul {
  width: 600px;
  justify-content: space-between; }
  @media only screen and (max-width: 800px) {
    .nav-bar ul {
      width: 100%; } }

.nav-bar li {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: cornflowerblue;
  display: inline-block;
  margin: 0px 0px 0px 50px; }
  @media only screen and (max-width: 800px) {
    .nav-bar li {
      margin: 0px 10px 0px 10px; } }
  .nav-bar li:hover {
    color: #666;
    text-decoration: underline;
    cursor: pointer;
    transition: ease-in 300ms; }

header {
  width: 100%;
  height: 80px;
  background-image: linear-gradient(to bottom, white, #EEE);
  border-bottom: 1px solid #EEE;
  top: 0px;
  left: 0px;
  margin: 0px;
  display: flex;
  justify-content: center; }

.title-bar {
  margin-top: 70px;
  width: 1000px;
  height: 50px;
  border: 2px solid #999;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 999px) {
    .title-bar {
      border-radius: 0px;
      border-left: 0px;
      border-right: 0px; } }

.title-bar-bottom {
  margin-top: -40px;
  width: 1000px;
  height: 50px;
  border: 2px solid #999;
  background: transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none; }
  @media only screen and (max-width: 999px) {
    .title-bar-bottom {
      border-radius: 0px;
      border-left: 0px;
      border-right: 0px; } }

.title-bar-title {
  color: #666;
  font-style: italic;
  font-size: 30px;
  font-weight: bolder;
  background-color: white;
  padding: 0px 15px 0px 15px;
  text-align: center;
  transform: translateY(-22px); }
  @media only screen and (max-width: 600px) {
    .title-bar-title {
      font-size: 20px;
      transform: translateY(-12px); } }

.box {
  max-width: 95vw;
  padding-right: 20px; }

.centered {
  text-align: center; }

.box:not(:first-of-type) {
  padding-top: 10px;
  border-top: 1px solid #EEE;
  margin-top: 10px; }

.box p.title, .box .title.caption, .box .title.caption-hidden, .box .title.caption-feature, p.title, .title.caption, .title.caption-hidden, .title.caption-feature {
  font-weight: bolder;
  color: #666;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 16px;
  margin-top: 0px; }

.box p, .box .caption, .box .caption-hidden, .box .caption-feature {
  margin-top: 10px;
  color: #666;
  font-size: 12px;
  font-weight: normal;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }

.fake-link:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: ease-in 300ms; }

.lawsuits {
  background-color: cornflowerblue;
  color: white;
  padding: 0px 5px 0px 5px; }

/*# sourceMappingURL=styles.css.map */
