

.container {
  @include flexcenter(); }

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: $grey;
    text-decoration: underline;
    transition: ease-in } }


$custom-neat-grid: (
  columns: 12,
  gutter: 0.5em,
  media: 'only screen and (max-width: 999px)');

.welcome-grid {
  @include grid-container;
  @include flexcenter();
  width: 980px;
  height: auto !important;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  transform: translateY(-20px); }

.feature-item {
  @include grid-column(3);
  @include grid-media($custom-neat-grid){
  width: 100%; } }

.feature-item:not(:first-of-type) {
  @include grid-media($custom-neat-grid) {
  margin-top: 40px; } }


.feature-item-center {
  @include grid-column(6);
  @include grid-media($custom-neat-grid){
    // SHRUNK //
    display: none; } }
