

.container {
  @include flexcenter(); }

.title-bar {
  margin-top: 100px;
  width: 1000px;
  height: 50px;
  border: 4px solid $blue;
  // border-radius: 50% 50% 0 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom: none;
  @include flexcenter();
  // flex-direction: column;
}

.title-bar-title {
  color: $grey;
  font-style: italic;
  font-size: 30px;
  font-weight: bolder;
  background-color: $white;
  padding: 0px 15px 0px 15px;
  text-align: center;
  transform: translateY(-22px);
 }

// .title-bar-subtitle {
//   @extend .title-bar-title;
//   font-size: 12px;
//   font-weight: normal;
//   transform: translateY(-10px); }

.welcome-grid {
  @include grid-container;
  @include flexcenter();
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-20px); }

.feature-item {
  @include grid-column(3); }

.left-item {
  margin-left: 0; }

.feature-item-center {
  @include grid-column(6); }
