

.container {
  @include flexcenter();
}

.nav-bar-contents {
  @include flexcenter();
  width: 1000px;
  justify-content: space-between;
  align-items: center;
}
.nav-bar {
  font-weight: bold;
  display: flex;
}
.nav-bar ul {
  width: 800px;
  justify-content: space-between;

}
.nav-bar li {
  font-family: $helvetica;
  font-size: 11px;
  font-weight: 800;
  color: $grey;
  display: inline-block;
  margin: 0px 0px 0px 50px;
  &:hover {
    color: $grey-dk;
    cursor: pointer;
  }
}

.title-bar {
  margin-top: 40px;
  width: 1000px;
  height: 50px;
  border: 4px solid $blue;
  border-bottom:none;
  @include flexcenter();
}
.title-bar-title {
  color: $grey;
  font-style: italic;
  font-size: 24px;
  font-weight: bolder;
  background-color: $white;
  padding: 15px;
  transform: translateY(-30px);
}
.welcome-grid {
  @include grid-container;
  @include flexcenter();
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-20px);
}
.top-stories-item {
  @include grid-column(3);
}
.left-item {
  margin-left: 0;
}
.top-stories-feature {
  @include grid-column(6);

}
