.nav-bar-contents {
  @include flexcenter();
  width: 1000px;
  justify-content: space-between;
  align-items: center; }

.nav-bar {
  font-weight: bold;
  display: flex; }

.nav-bar ul {
  width: 800px;
  justify-content: space-between; }

.nav-bar li {
  font-family: $helvetica;
  font-size: 16px;
  font-weight: 800;
  color: $blue;
  display: inline-block;
  margin: 0px 0px 0px 50px;
  // text-shadow: 1px 1px 1px transparent;
  &:hover {
    color: $grey;
    text-decoration: underline;
    cursor: pointer; } }

header {
  width: 100%;
  height: 80px;
  background-color: $grey-lt;
  top: 0px;
  left: 0px;
  margin: 0px;
  @include flexcenter(); }

footer {
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: $grey-lt;
  bottom: 0px;
  left: 0px;
  margin-bottom: 0px;
  @include flexcenter(); }
