.nav-bar-contents {
  @include flexcenter();
  width: 1000px;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: 600px) {
      margin: 0px; } }

.nav-bar {
  font-weight: bold;
  display: flex; }

.nav-bar ul {
  width: 600px;
  justify-content: space-between;
  @media only screen and (max-width: 800px) {
        width: 100%; } }

.nav-bar li {
  font-family: $helvetica;
  font-size: 16px;
  font-weight: 800;
  color: $blue;
  display: inline-block;
  margin: 0px 0px 0px 50px;
  @media only screen and (max-width: 800px) {
      margin: 0px 10px 0px 10px; }
  &:hover {
    color: $grey;
    text-decoration: underline;
    cursor: pointer;
    transition: ease-in 300ms; } }

header {
  width: 100%;
  height: 80px;
  background-image: linear-gradient(to bottom, $white, $grey-lt);
  border-bottom: 1px solid $grey-lt;
  top: 0px;
  left: 0px;
  margin: 0px;
  @include flexcenter(); }
