@mixin flexcenter() {
  display: flex;
  justify-content: center; }

@mixin media999() {
  @media only screen and (max-width: 999px) {
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px } }
